@import '~@angular/material/theming';

$general-typography: mat-typography-config();

$general-typography: mat-typography-config(
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 400)
);

// Be sure that you only ever include this mixin once!
@include mat-core($general-typography);

//Available color palettes: https://www.google.com/design/spec/style/color.html
$me-primary: mat-palette($mat-grey);
$me-accent: mat-palette($mat-blue-grey, 200, 100, 400);
$me-warn: mat-palette($mat-amber);

// Create the theme object (a Sass map containing all of the palettes).
$me-theme: mat-light-theme($me-primary, $me-accent, $me-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($me-theme);
