:host {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.main-area {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.menu-button {
  position: absolute;

  &--xs {
    bottom: 3px;
    right: 3px;
  }

  &--gt-xs {
    top: 10px;
    left: 10px;
  }
}
