:host {
  display: block;
  position: relative;
  height: 100%;
}

.main-area {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.main-area--xs {
  padding: 5px;
}

.main-area--gt-xs {
  padding-top: 40px;
}

.menu-button {
  position: fixed;
  top: 0;
  left: 0;
}
